$watermelon-color:#313131;
$pear-color:#FAD431;
$banana-color:#FF642C;
$strawberry-color:#FF577E;
$header-color:#01BDBD;
$header-color-border:#0090B0;
$footer-color:#1F1F1F;
$general-color:#C0EBF2;
$text-color:#FFF;
$button-color:rgba(112, 112, 112, 03);